<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href = "/css/styles.css" >
  </head>
  <body>
    {{>header}}
    <span>{{msg}}</span>
  <footer>Created By: {{name}}</footer>
  </body>
</html>
